/* --- --- --- Home Page CSS Stylesheet --- --- --- */

.siteLogo {
    align-items: center;
}



/* --- Posts List (feed) --- */
.postsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* --- Buttons --- */
.postsList div[id='feedMode'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 30%;
}

.postsList div[id='explore'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-right: 300px;
    background-color: rgb(114, 180, 246);
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.postsList div[id='explore']:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.postsList div[id='following'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: rgb(114, 180, 246);
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.postsList div[id='following'] {
    cursor: pointer;
    background-color: dodgerblue;
}


/* --- Single Post Styles ( by id of field, declaring name of style in className={} ONCE IN PARENT object. ) --- --- */

/* <div> a parent */
.post {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.post div[id='title'] {
    flex: 20%;
    font-size: 25px;
    background-color: dodgerblue;
    display: grid;
    place-content: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post div[id='seller'] {
    flex: 10%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: dodgerblue;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post div[id='body'] {
    flex: 30%;
    display: grid;
    place-content: center;
}

.post div[id='pic'] {
    flex: 140%;
    display: grid;
    border-top: 1px solid black;
    place-content: center;
}

.post div[id='maxBid'] {
    flex: 20%;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: dodgerblue;
    color: white;
    border-bottom-left-radius: 10px;
}

.post div[id='timer'] {
    flex: 20%;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: dodgerblue;
    color: white;
    border-bottom-right-radius: 10px;
}

.post div[id='priceANDtimer'] {
    display: flex;
    flex: 30%;
    flex-direction: row;
}

/* .post div[id='index'] {
    display: none;
} */
