/* --- --- --- Home Page CSS Stylesheet --- --- --- */

.siteLogo {
    display: flex;
    justify-content: center;
}

.siteLogo img {
    width: 400px;
}


/* --- Posts List (feed) --- */
.postsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* --- Buttons --- */
.postsList div[id='feedMode'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 30%;
}

.postsList div[id='explore'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-right: 300px;
    background-color: rgb(144, 172, 197);
    color: white;
    border-radius: 6px;
}

.postsList div[id='explore']:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.postsList div[id='following'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding-bottom: 5px;
    font-size: 20px;
    background-color: rgb(144, 172, 197);
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.postsList div[id='following'] {
    cursor: pointer;
    background-color: dodgerblue;
}


/* --- Single Post Styles ( by id of field, declaring name of style in className={} ONCE IN PARENT object. ) --- --- */

/* <div> a parent */
.post {
    width: 650px;
    height: 400px;
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1.3px);
}

.post:hover {
    backdrop-filter: blur(2.7px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transform: translateY(-1px);
}

.post:active {
    /* backdrop-filter: blur(1.3px); */
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    transform: translateY(2px);
}


.post div[id='title'] {
    flex: 20%;
    font-size: 25px;
    background-color: dodgerblue;
    display: grid;
    place-content: center;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post div[id='seller'] {
    flex: 10%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: dodgerblue;
    color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.post div[id='body'] {
    flex: 30%;
    display: grid;
    place-content: center;
}

.post div[id='pic'] {
    flex: 140%;
    display: grid;
    border-top: 1px solid black;
    place-content: center;
}

.post div[id='maxBid'] {
    flex: 20%;
    /* border-top: 1px solid lightgray; */
    display: flex;
    align-items: center;
    padding-left: 15px;
    /* background-color: dodgerblue; */
    color: white;
    border-bottom-left-radius: 6px;
}

.post div[id='timer'] {
    flex: 20%;
    /* border-top: 1px solid lightgray; */
    display: flex;
    align-items: center;
    padding-left: 15px;
    /* background-color: dodgerblue; */
    color: white;
    border-bottom-right-radius: 6px;
}

.post div[id='priceANDtimer'] {
    /* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
    display: flex;
    flex: 30%;
    flex-direction: row;
    /* background-color: dodgerblue; */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #024e89 95%); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #c5760e 100%);

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* .post div[id='index'] {
    display: none;
} */