/* --- --- --- Login Page CSS Stylesheet --- --- --- */


/* --- --- Whole Page Styles ( by type of field, declaring name of style in className={} ONCE IN PARENT object. ) --- --- */

/* <form> - a parent */
.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: 50px;
}

.log label {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
}

.log input[id='email'],
.log input[id='password'] {
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #a6d6e7;
    border-radius: 5px;
    text-align: left;
}


/* --- --- Specific Styles - ( by declaring name of style in className={} in every object. ) --- --- */

/* --- Login Button --- */
.loginButton {
    margin: 6px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #0091ff 0, #004e89 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #003964 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}
.loginButton:focus {
    box-shadow: #003964 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.loginButton:hover {
    box-shadow: #003964a4 0 4px 8px, #003964a4 0 7px 13px -3px, #003964 0 -3px 0 inset;
    transform: translateY(-2px);
}
.loginButton:active {
    box-shadow: #003964 0 3px 7px inset;
    transform: translateY(2px);
}




/* --- textTittle parent --- */
.textTittle {
    pointer-events: none;
}

.textTittle h1 {
    height: 25vmin;
}

.textTittle h3 {
    height: 3vmin;
}







/* .inputFieldPassword {
    text-align: left;
}  */

.marginAround {
    margin: 0.5%;
    /* padding: 1%; */
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

/* .aboutPar {
    font-size: 150%;
} */

.messageText {
    color: #ff2b2b;
    /* font-weight: bold; */
}



.marginAround1 {
    margin: 0.5%;
    /* padding: 1%; */
    /* align-items: left; */
}

