/** CSS stylesheet for pages. */

/** --- Login Page Styles --- */
.mainContainer {
    text-align: center;
    /* background-image: radial-gradient(100% 100% at 0 100%, #63ddff 0, #ffffff 100%); */
    /* background-color: rgb(158, 255, 229); */
    height: 100vh;
    /* makes fullscreen */
}

.subMainContainer {
    height: 40vmin;
    /* pointer-events: none; */
}

.textTittle {

    height: 40vmin;
    pointer-events: none;
}

.inputFieldName {
    text-align: left;
}

.inputFieldPassword {
    text-align: left;
}

/* --- Login Button --- */
.loginButton {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.loginButton:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.loginButton:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.loginButton:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.marginAround {
    margin: 0.5%;
    /* padding: 1%; */
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.aboutPar {
    font-size: 150%;
}

.messageText {
    color: #ff2b2b;
    /* font-weight: bold; */
}

.alignLeft {
    font-weight: lighter;
    /* align-items:flex-start; */
}

.marginAround1 {
    margin: 0.5%;
    /* padding: 1%; */
    /* align-items: left; */
}

.simpleLabel {
    font-weight: lighter;
    /* text-align: right;
    text-align: left;
    align: */
    /* float:left; */
}