/** CSS stylesheet for pages. */

/** --- Login Page Styles --- */
.main-container {
    text-align: center;
    background-image: radial-gradient(100% 100% at 0 100%, #63ddff 0, #ffffff 100%);
    /* background-color: rgb(158, 255, 229); */
    height: 100vh;
    /* makes fullscreen */
}

.sub-main-container {
    height: 40vmin;
    /* pointer-events: none; */
}

.text-tittle {

    height: 40vmin;
    pointer-events: none;
}

.input-field-name {
    text-align: left;
}

.input-field-password {
    text-align: left;
}

/* --- Login Button --- */
.login-button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.login-button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.login-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.login-button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.margin-around {
    margin: 0.5%;
    /* padding: 1%; */
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.about-par {
    font-size: 150%;
    margin-bottom: 25%;
    margin-top: 5%;
}

.message-text {
    color: #ff2b2b;
    /* font-weight: bold; */
}