<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link  href="https://font.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./pages/styles/style.css">
</head>
<body>
    <label for="firstname">Firstname Form</label>
    <form >
       <input type ="text" id ="firstname"
       placeholder="Firstname" required>

       <label for="lastname">Last name </label>
       <input type ="text" id ="lastname"
       placeholder="Lastname" required>


       <label for="username">User name </label>
       <input type ="text" id ="username"
       placeholder="Username" required>


       <label for="Email">Email </label>
       <input type ="email" id="Email"
       placeholder="Email" required>

       <label for="password">Password </label>
       <input type ="password" id="password"
       placeholder="Password" required>

        <label for="cnfrm-password">confirm password</label>
       <input type ="password" id="cnfrm-password"
       placeholder="Password" required>

       

       <label for="Date">Date of birth </label>
       <input type="text" placeholder="MM/DD/YYYY"
                    onfocus="(this.type='date')"  id="Date" required>
        <br/>
        <p id="message"></p>

        <input type="button" onclick="checkPassword()" value="Registration" required/>        
    </form>

    <script src="/src/model/checkPassword.js"></script>
    
</body>
</html>